<div class="top_info">
  <a href="/merchants/new">Add Merchant</a>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <div class="title_container">
    <h1>Merchants</h1>
  </div>

  <div class="table_container">
    <table>
      <tr>
        <th>Merchant ID</th>
        <th></th>
        <th>Merchant</th>
      </tr>

      <% for merchant in @merchants %>
      <tr>
        <td><a href="/merchants/<%=merchant.id%>"><%= merchant.id %></a></td>
        <td></td>
        <td><%= merchant.name %></td>
        <td></td>
        <td>
          <form action="/merchants/<%=merchant.id%>/edit" method="GET">
            <input type="submit" value="edit">
          </form>
        </td>
        <td></td>
        <td>
          <form action="/merchants/<%=merchant.id%>/delete" method="POST">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>
