<p>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Merchant: <%=@merchant.name%></h1>

<table>
  <tr>
    <th>Merchant ID</th>
    <th></th>
    <th>Merchant</th>
  </tr>

  <tr>
    <td><%= @merchant.id %></td>
    <td></td>
    <td><%= @merchant.name %></td>
    <td></td>
    <td>
      <form action="/merchants/<%=@merchant.id%>/edit" method="POST">
        <input type="submit" value="edit">
      </form>
    </td>
    <td></td>
    <td>
      <form action="/merchants/<%=@merchant.id%>/delete" method="POST">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>

</table>
