<p>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Tags</h1>

<table>
  <tr>
    <th>Tag ID</th>
    <th></th>
    <th>Tag</th>
  </tr>

  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%=tag.id%>"><%=tag.id%></a></td>
    <td></td>
    <td><%= tag.name %></td>
    <td></td>
    <td>
      <form action="/tags/<%=tag.id%>/edit" method="POST">
        <input type="submit" value="edit">
      </form>
    </td>
    <td></td>
    <td>
      <form action="/tags/<%=tag.id%>/delete" method="POST">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
  <% end %>

</table>
