<div class="top_info">
  <a href="/tags/new">Add Tags</a>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <h1>Tag: <%=@tag.name%></h1>

  <div class="table_container">
    <table>
      <tr>
        <th></th>
        <th></th>
        <th>Tag ID</th>
        <th></th>
        <th>Tag</th>
        <th></th>
        <th># of Transactions</th>
      </tr>

      <tr>
        <td>
          <form action="/tags/<%=@tag.id%>/transactions" method="GET">
            <input type="submit" value="view transactions">
          </form>
        </td>
        <td></td>
        <td><%= @tag.id %></td>
        <td></td>
        <td><%= @tag.name %></td>
        <td></td>
        <td><%= @tag.transaction_count%></td>
        <td></td>
        <td>
          <form action="/tags/<%=@tag.id%>/edit" method="GET">
            <input type="submit" value="edit">
          </form>
        </td>
        <td></td>
        <td>
          <form action="/tags/<%=@tag.id%>/delete" method="POST">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>

    </table>
  </div>
</div>
