<p>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Edit Transaction ID: <%= @transaction.id %></h1>

<form action="/transactions/<%=@transaction.id%>" method="POST">
  <label for="id">Transaction ID: </label>
  <label name="id"><%=@transaction.id%></label>

  <label for="timing">Date (YYYY/MM/DD)</label>
  <input type="text" name="timing" value="<%=@transaction.timing%>">

  <label for="merchant_id">Merchant</label>
  <input list="merchant_id">
  <datalist id="merchant_id">
    <% for merchant in @merchants %>
    <option value="<%=merchant.id%>"><%=merchant.name%></option>
    <% end %>
  </datalist>

  <label for="tag_id">Tags</label>
  <input list="tag_id">
  <datalist id="tag_id">
    <% for tag in @tags %>
    <option value="<%=tag.id%>"><%=tag.name%></option>
    <% end %>
  </datalist>

  <label for="amount">Amount</label>
  <input type="number" name="amount" value="<%=@transaction.amount%>">


  <input type="submit" value="Save">
</form>
