<div class="top_info">
  <a href="/transactions/new">Add Transaction</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</div>

<div class="container">
  <h1>Transaction History</h1>

  <div class="table_container">
    <table>
      <tr>
        <th>Transaction ID</th>
        <th></th>
        <th>Date</th>
        <th></th>
        <th>Merchant</th>
        <th></th>
        <th>Tags</th>
        <th></th>
        <th>Amount</th>
      </tr>

      <% for transaction in @transactions %>
      <tr>
        <td><a href="/transactions/<%=transaction.id%>"><%= transaction.id %></a></td>
        <td></td>
        <td><%= transaction.timing %></td>
        <td></td>
        <td><%= transaction.merchant.name %></td>
        <td></td>
        <td><%= transaction.tag.name %></td>
        <td></td>
        <td><%= transaction.amount %></td>
        <td></td>
        <td>
          <form action="/transactions/<%=transaction.id%>/edit" method="GET">
            <input type="submit" value="edit">
          </form>
        </td>
        <td></td>
        <td>
          <form action="/transactions/<%=transaction.id%>/delete" method="POST">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      <% end %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td></td>
        <% total = 0 %>
        <% for transaction in @transactions %>
        <% total = total + transaction.amount() %>
        <% end %>
        <td><%=total%></td>
      </tr>

    </table>
  </div>
</div>
