<p>
  <a href="/transactions/new">Add Transaction</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Transaction History</h1>

<table>
  <tr>
    <th>Transaction ID</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Tags</th>
    <th></th>
    <th>Amount</th>
  </tr>

  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.id %></td>
    <td></td>
    <td><%= transaction.timing %></td>
    <td></td>
    <td><%= transaction.merchant.name %></td>
    <td></td>
    <td>#<%= transaction.tag.name %></td>
    <td></td>
    <td><%= transaction.amount %></td>
  </tr>

  <% end %>
</table>
