<p>
  <a href="/transactions/new">Add Transaction</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Transaction History</h1>

<ul>
  <li>
    <p>Transaction ID</p>
    <p>Date</p>
    <p>Merchant</p>
    <p>Tags</p>
    <p>Amount</p>
  </li>

  <% for transaction in @transactions %>
  <p><%= transaction.id %> <%= transaction.timing %> <%= transaction.merchant.name %> #<%= transaction.tag.name %> <%= transaction.amount %></p>

  <% end %>
</ul>
