<p>
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</p>

<h1>Transaction #<%=@transaction.id%></h1>

<table>
  <tr>
    <th>Transaction ID</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Tags</th>
    <th></th>
    <th>Amount</th>
  </tr>

  <tr>
    <td><%= @transaction.id %></td>
    <td></td>
    <td><%= @transaction.timing %></td>
    <td></td>
    <td><%= @transaction.merchant.name %></td>
    <td></td>
    <td>#<%= @transaction.tag.name %></td>
    <td></td>
    <td><%= @transaction.amount %></td>
    <td></td>
    <td>
      <form action="/transactions/<%=@transaction.id%>/edit" method="POST">
        <input type="submit" value="edit">
      </form>
    </td>
    <td></td>
    <td>
      <form action="/transactions/<%=@transaction.id%>/delete" method="POST">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>

</table>
